/* ContactForm.css */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;

}

.contact-container {
    height: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;

}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 500px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #534d3e;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-inputs {
    width: 97.5%;
    height: 35px;
    border: 1px solid #cccccc;
    outline: none;
    padding-left: 10px;

    font-weight: 500;
    color: black;
    border-radius: 5px;
    font-family: "Caveat", cursive;
    font-size: 18px;
}

.contact-title {
    font-family: "Licorice", cursive;
    font-size: 35px;
}

.contact-title h2{
    margin: 10px;
}

.contact-select {
    width: 100%;
    /*max-width: 415px;*/
    height: 100%;
    font-family: "Caveat", cursive;
    max-height: 500px;
    border: #666666;
    outline: #666666;
    /*padding-left: 25px;*/
    font-weight: 500;
    /*color: #121227;*/
    border-radius: 5px;
}

.contact-left textarea{
    height: 140px;
    width: 97.5%;
    padding-top: 15px;
    border-radius: 5px;
    /*max-width: 400px;*/
    max-height: 400px;
    z-index: 0;
    resize: none;

}

.contact-inputs:focus {
    border: 2px solid #2684ff;
}

.contact-inputs::placeholder {
    color: #808080;
    font-family: "Caveat", cursive;
    font-size: 16px;
   /* padding-left: 10px;*/
}

.contact-left button {
    display: flex;
    alight-items: center;
    padding: 11px 22px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    font-family: "Caveat", cursive;
    font-size: 25px;
    font-weight: 750;
    background: linear-gradient(280deg, #534d3e, #fdecbe);
    cursor: pointer;
}

.contact-left button img {
    hieght: 15px;
}

.contact-right img {
    width: 500px;
}


.contact-right p {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.contact-container .travel {
    font-size: 35px;
    font-weight: 400;
}

@media only screen and (max-width: 1100px) {
    .contact-right {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    .contact-left {
        width: 85vw;
    }

}

@media only screen and (max-width: 370px) {
    .contact-left {
        width: 85vw;
    }

    .contact-inputs {
        width: 95%;
    }

    .contact-left textarea {
        width: 95.5%;
    }

}