/* CourseCard.css */
.course-card {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.course-card:hover {
   /* transform: scale(1.05);*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adjust the box shadow for the raised effect */
    cursor: pointer;
}

.course-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.course-title {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}