/* Footer.css */
.footer-container {
    background-color: #fdecbe;
    color: #534d3e;
    text-align: center;
    /*padding: 10px;*/
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin: 5px 0;
}
