/* Header.css */
.header-container {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.header-title {
    font-family: 'Tahoma ', sans-serif; /* Use your desired cursive font */
    font-size: 3em; /* Adjust the font size as needed */
    margin-bottom: 20px;
}
