/* Logo.css */
.logo {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Vertically align items */
    height: 100%;
}

.logo-below {
    margin-top: 100px;
    height: 100%;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn 2.0s ease-in-out forwards; /* Apply animation */
    justify-content: center;
    text-align: center;
}

.h2-below {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.h2-right {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 46px;
    margin-left: 20px;
    z-index: 100;
}

.logo img {
    width: 60px;
    height: 100%;
    padding: 10px;
}

.logo a {
    text-decoration: none;
    color: black;
    /*padding: 10px; /* Add padding for better clickability */
  /*  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

@media only screen and (max-width: 500px) {
    .h2-right {
        font-family: "Qwitcher Grypen", cursive;
        font-weight: 800;
        font-style: normal;
        font-size: 30px;
        margin-left: 20px;
        z-index: 100;
    }
}

@media only screen and (max-width: 400px) {
    .h2-right {
        font-family: "Qwitcher Grypen", cursive;
        font-weight: 800;
        font-style: normal;
        font-size: 25px;
        margin-left: 0px;
        z-index: 100;
    }
}

@media only screen and (max-width: 330px) {
    .h2-right {
        font-family: "Qwitcher Grypen", cursive;
        font-weight: 800;
        font-style: normal;
        font-size: 20px;
        margin-left: 0px;
        z-index: 100;
    }
}

@media only screen and (max-width: 295px) {
    .h2-right {
        font-family: "Qwitcher Grypen", cursive;
        font-weight: 800;
        font-style: normal;
        font-size: 15px;
        margin-left: 0px;
        z-index: 100;
    }
}