.three-course-container {
    text-align: center; /* Center the contents */
}

/* Style for the p tag */
.three-course-duration {
    font-size: 20px; /* Adjust the font size as needed */
    margin-top: 10px; /* Add margin for spacing */
}

.three-course-content {
    white-space: pre-line;
    font-size: 15px; /* Adjust the font size as needed */
    /*margin-top: 5px; /* Add margin for spacing */
    /*justify-content: left;*/

}

.three-course-content-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.content-item {
    text-align: center;
    width: 200px;
}

.content-image {
    width:  100px;
    height: 75px;
    object-fit: cover;
    border-radius: 25%;
}

@media only screen and (max-width: 768px) {
    .content-image {
        width: 100px;
        height: 75px;
    }

    .three-course-content {
        font-size: 13px;
    }

    .three-course-content-container {
        margin-top: 30px;
    }
    .container {
        margin-bottom: 5px;
    }


}